.wrapper{
	max-width:80%;
	margin: 0 auto; 
}
h1{
	color: navy;
	text-align: center;
}
h2{
	color: blue;
	text-align: center;
}
p{
	color: purple;
	text-align: center;
}
a{
	align-items: center;
	text-align: center;
	color: 
}
body{
	background-color: green;
}
img{
	max-width: 150px;
	align-items: center;
	border: dashed red 5px;
}