#wrapper{
	margin: 0 auto;
	max-width: 90%;
	background-color: blue;
}
ul{
	list-style-type: none;
}
a{
	color: lightgreen;
}
h1{
	color: navy;
}
img{
	max-height:200px;
	max-width:200px;
	border: grey solid 4px;
}