#wrapper{
	margin: 0 auto;
	max-width: 90%;
	background-color: blue;
	border: green solid 5px;
}
ul{
	list-style-type: none;
}
a{
	color: lightgreen;
}
h1{
	color: orange;
}
img{
	max-height:200px;
	max-width:200px;
	border: grey solid 4px;
}
.one{
	background-color: red;
}
.two{
 	background-color: darkgreen;
}
p{
	color: navy;
}